@font-face {
    font-family: myFirstFont;
    src: url(/media/fonts/sharp/GeogrotesqueSharpTRIAL-ExpUltLtIt-BF63ed824d3f50f.ttf
    );
}   

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: black;
}


#video-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Add an overlay with transparency */
}

.header {
   /* background-color: transparent; */
    z-index: 2;
    display: flex;
    flex-direction: column;
    color: white;
    position: relative;
    align-items:flex-start;
    left: 0;
    right: 0;
    top: 20%;
    font-family: myFirstFont;
}

.header-info {
    width: 40%;
}

.header-info span {
    color: rgba(255, 255, 255);
    font-weight: bolder;
}

.header-info p {
    color: rgba(255, 255, 255, 0.705);
    text-align: left;
}

.header-info h1 {
    color: rgba(255, 255, 255);
}

.navigation {    
    /* border: solid 1px white; */
    display: flex;
    padding: 0;
    justify-content:space-between;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2; /* Ensure the navbar is above the video */
    font-family: myFirstFont;
}

.navbar-links {
    width: 1100px;
    color: white;
    align-items: center;
    display: flex;
    align-content: center;

}
.link {
    padding: 1rem 2rem;
    color: white;
    text-decoration: none;
}

.banner {
    display: flex;
    color: rgba(255, 255, 255, 0.722);
    flex-direction: column;
    align-items:center;
    font-family: myFirstFont;
}

.banner h1 {
  border-bottom: 1px solid white;
}

.postcard {
  flex-wrap: wrap;
  display: flex;
  box-shadow: 0 4px 21px -12px rgba(255, 251, 251, 0.66);
  border-radius: 10px;
  margin: 0 0 2rem 0;
  overflow: hidden;
  position: relative;
  color: #ffffff;
}

.postcard h1, .postcard .h1 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}
.postcard .small {
  font-size: 80%;
}
.postcard .postcard__title {
  font-size: 1.75rem;
}
.postcard .postcard__img {
  max-height: 180px;
  width: 100%;
  object-fit: cover;
  position: relative;
}
.postcard .postcard__img_link {
  display: contents;
}
.postcard .postcard__bar {
  width: 50px;
  height: 10px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #424242;
  transition: width 0.2s ease;
}
.postcard .postcard__text {
  padding: 1.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
}
.postcard .postcard__preview-txt {
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
  height: 100%;
}
.postcard .postcard__tagbox {
  display: flex;
  flex-flow: row wrap;
  font-size: 14px;
  margin: 20px 0 0 0;
  padding: 0;
  justify-content: center;
}
.postcard .postcard__tagbox .tag__item {
  display: inline-block;
  background: rgba(83, 83, 83, 0.4);
  border-radius: 3px;
  padding: 2.5px 10px;
  margin: 0 5px 5px 0;
  cursor: default;
  user-select: none;
  transition: background-color 0.3s;
}
.postcard .postcard__tagbox .tag__item:hover {
  background: rgba(83, 83, 83, 0.8);
}
.postcard:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(-70deg, #424242, transparent 50%);
  opacity: 1;
  border-radius: 10px;
}
.postcard:hover .postcard__bar {
  width: 100px;
}

@media screen and (min-width: 769px) {
  .postcard {
    flex-wrap: inherit;
  }
  .postcard .postcard__title {
    font-size: 2rem;
  }
  .postcard .postcard__tagbox {
    justify-content: start;
  }
  .postcard .postcard__img {
    max-width: 300px;
    max-height: 100%;
    transition: transform 0.3s ease;
  }
  .postcard .postcard__text {
    padding: 3rem;
    width: 100%;
  }
  .postcard:hover .postcard__img {
    transform: scale(1.1);
  }

}

  .blue .postcard__title:hover {
    color: #0076bd;
  }
  
  .blue .postcard__bar {
    background-color: #0076bd;
  }
  
  .blue::before {
    background-image: linear-gradient(-30deg, rgba(0, 118, 189, 0.1), transparent 50%);
  }

  .service_card {
    color: white;
    background-image: linear-gradient(-30deg, rgba(0, 118, 189, 0.1), transparent 50%);
    box-shadow: 0 4px 21px -12px rgba(255, 251, 251, 0.66);
  }

  .services {
    display: flex;
  }

 /* About us */

.tabbed {
  width: 100%;
  margin: 30rem 0rem;
  color: white;
  background-color: #0074bd1a;
}

.tabbed > input {
  display: none;
}

.tabbed > label {
  padding: 12px 20px;
  margin-right: 5px;
  cursor: pointer;
  transition: background-color .3s;
}

.tabbed > label:hover,
.tabbed > input:checked + label {
  background-color: #33a8f1;

}

.tabs {
  
}

.tabs > div {
  max-width: 1320px;
  position: absolute;
  padding: 10px 30px 40px;
  line-height: 1.4em;
  opacity: 0;
  transform: rotateX(-20deg);
  transform-origin: top center;
  transition: opacity .3s, transform 1s;
  z-index: 0;
  /* background-color: #0074bd1a; */
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url("../media/about-bg.jpg");
}

#tab-nav-1:checked ~ .tabs > div:nth-of-type(1),
#tab-nav-2:checked ~ .tabs > div:nth-of-type(2),
#tab-nav-3:checked ~ .tabs > div:nth-of-type(3),
#tab-nav-4:checked ~ .tabs > div:nth-of-type(4) {
  transform: rotateX(0);
  opacity: 1;
  z-index: 1;
}

@media screen and (max-width: 700px) {
  .tabbed {
    width: 400px;
  }

  .tabbed > label {
    display: none;
  }

  .tabs > div {
    width: 400px;
    border: none;
    padding: 0;
    opacity: 1;
    position: relative;
    transform: none;
    margin-bottom: 60px;
  }

  .tabs > div h2 {
    border-bottom: 2px solid #4EC6DE;
    padding-bottom: .5em;
  }
}
