@font-face {
    font-family: myFirstFont;
    src: url(/media/fonts/sharp/GeogrotesqueSharpTRIAL-ExpUltLtIt-BF63ed824d3f50f.ttf
    );
}   

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: black;
}


#video-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Add an overlay with transparency */
}

.content {
   /* background-color: transparent; */
    z-index: 2;
    display: flex;
    flex-direction: column;
    color: white;
    position: relative;
    align-items:flex-start;
    left: 0;
    right: 0;
    top: 20%;
    font-family: myFirstFont;
}

.content-header {
    width: 45%;
}

.content-header span {
    font-weight: bolder;
}

.content-header p, .content-header h1 {
    text-align: left;
}

.navigation {    
    /* border: solid 1px white; */
    display: flex;
    padding: 0;
    justify-content:space-between;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2; /* Ensure the navbar is above the video */
}

.navbar-links {
    width: 1100px;
    color: white;
    align-items: center;
    display: flex;
    align-content: center;

}
.link {
    padding: 1rem 2rem;
    color: white;
    text-decoration: none;
}

.banner {
    display: flex;
    color: rgba(255, 255, 255, 0.722);
    flex-direction: column;
    align-items:center;
    font-family: myFirstFont;
}

.postcard {
  flex-wrap: wrap;
  display: flex;
  box-shadow: 0 4px 21px -12px rgba(255, 251, 251, 0.66);
  border-radius: 10px;
  margin: 0 0 2rem 0;
  overflow: hidden;
  position: relative;
  color: #ffffff;
}

.postcard h1, .postcard .h1 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}
.postcard .small {
  font-size: 80%;
}
.postcard .postcard__title {
  font-size: 1.75rem;
}
.postcard .postcard__img {
  max-height: 180px;
  width: 100%;
  object-fit: cover;
  position: relative;
}
.postcard .postcard__img_link {
  display: contents;
}
.postcard .postcard__bar {
  width: 50px;
  height: 10px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #424242;
  transition: width 0.2s ease;
}
.postcard .postcard__text {
  padding: 1.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
}
.postcard .postcard__preview-txt {
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
  height: 100%;
}
.postcard .postcard__tagbox {
  display: flex;
  flex-flow: row wrap;
  font-size: 14px;
  margin: 20px 0 0 0;
  padding: 0;
  justify-content: center;
}
.postcard .postcard__tagbox .tag__item {
  display: inline-block;
  background: rgba(83, 83, 83, 0.4);
  border-radius: 3px;
  padding: 2.5px 10px;
  margin: 0 5px 5px 0;
  cursor: default;
  user-select: none;
  transition: background-color 0.3s;
}
.postcard .postcard__tagbox .tag__item:hover {
  background: rgba(83, 83, 83, 0.8);
}
.postcard:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(-70deg, #424242, transparent 50%);
  opacity: 1;
  border-radius: 10px;
}
.postcard:hover .postcard__bar {
  width: 100px;
}

@media screen and (min-width: 769px) {
  .postcard {
    flex-wrap: inherit;
  }
  .postcard .postcard__title {
    font-size: 2rem;
  }
  .postcard .postcard__tagbox {
    justify-content: start;
  }
  .postcard .postcard__img {
    max-width: 300px;
    max-height: 100%;
    transition: transform 0.3s ease;
  }
  .postcard .postcard__text {
    padding: 3rem;
    width: 100%;
  }
  .postcard:hover .postcard__img {
    transform: scale(1.1);
  }

}

  .blue .postcard__title:hover {
    color: #0076bd;
  }
  
  .blue .postcard__bar {
    background-color: #0076bd;
  }
  
  .blue::before {
    background-image: linear-gradient(-30deg, rgba(0, 118, 189, 0.1), transparent 50%);
  }